// Fonts used:

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Roboto Condensed', sans-serif;

body {
  background-color: pink;
  padding: 1rem;
}

.container,
.container-fluid {
  border: 1px solid red;
}
